In [ ]:
# 실습과제 1
# iris 파일을 분류 및 label을 제거
# 마지막 칼럼을 레이블로 회귀문제로 ML 4가지 해보는 것

In [13]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:/Users/seongmun/AiStudy/AI_Study/data/iris.csv', index_col=0)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [3]:
x=df.drop('label',axis=1)
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [4]:
y = df['petal width (cm)']
y

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal width (cm), Length: 150, dtype: float64

In [5]:
df.shape

(150, 5)

In [5]:
X=df.drop('label',axis=1)
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [8]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)
# x에는 입력데이터, y에는 타깃 데이터(모델이 예측하려는 실제 정답값)
x_train.shape, x_test.shape, y_train.shape, y_test.shape
# x_train : 훈련 데이터의 입력 특성
# y_train : 훈련 데이터의 정답(타깃 데이터 or 레이블)
# x_test : 예측 데이터의 입력 특성
# y_test : 예측 데이터의 정답(타깃 데이터 or 레이블)
# x : (입력 데이터 갯수, feature 갯수)
# y : (타깃 데이터 갯수)

((112, 4), (38, 4), (112,), (38,))

In [ ]:
# 알고리즘 Flow
# 1번. 사용하고자 하는 알고리즘에 (x_train,y_train) 데이터 입력
# 2번. x_test 데이터 예측
# 3번. 2번의 예측값을 실제 데이터 y_test를 비교

In [18]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

In [21]:
# DecisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor

clf_dt = DecisionTreeRegressor()
clf_dt.fit(x_train, y_train)

pred_dt = clf_dt.predict(x_test)

print(clf_dt.score(x_train, y_train))

1.0

In [22]:
mse = np.sqrt(mean_squared_error(pred_dt, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 9.782040115224997e-17

In [24]:
# RF
from sklearn.ensemble import RandomForestRegressor

rf_clf = RandomForestRegressor()
rf_clf.fit(x_train, y_train)

pred_rf = rf_clf.predict(x_test)

print(rf_clf.score(x_train, y_train))

0.9997981399809256

In [25]:
mse = np.sqrt(mean_squared_error(pred_rf, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.010761774457480546

In [26]:
# LinearRegression
# 회귀 알고리즘
from sklearn.linear_model import LinearRegression

clf_lr = LinearRegression()
clf_lr.fit(x_train, y_train)

pred_lr = clf_lr.predict(x_test)

print(clf_lr.score(x_train, y_train))

1.0

In [27]:
mse = np.sqrt(mean_squared_error(pred_lr, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 5.926969055564841e-16

In [29]:
# SVR
from sklearn.svm import SVR

clf_svm = SVR()
clf_svm.fit(x_train, y_train)

pred_svm = clf_svm.predict(x_test)

print(clf_svm.score(x_train, y_train))

0.9915001794637728