In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/seongmun/AiStudy/AI_Study/data/iris.csv', index_col=0)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [3]:
y = df['label']
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: label, Length: 150, dtype: int64

In [4]:
x=df.drop('label',axis=1)
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [5]:
df.shape

(150, 5)

In [6]:
X=df.drop('label',axis=1)
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)
# x에는 입력데이터, y에는 타깃 데이터(모델이 예측하려는 실제 정답값)
x_train.shape, x_test.shape, y_train.shape, y_test.shape
# x_train : 훈련 데이터의 입력 특성
# y_train : 훈련 데이터의 정답(타깃 데이터 or 레이블)
# x_test : 예측 데이터의 입력 특성
# y_test : 예측 데이터의 정답(타깃 데이터 or 레이블)
# x : (입력 데이터 갯수, feature 갯수)
# y : (타깃 데이터 갯수)

((112, 4), (38, 4), (112,), (38,))

In [ ]:
# 알고리즘 Flow
# 1번. 사용하고자 하는 알고리즘에 (x_train,y_train) 데이터 입력
# 2번. x_test 데이터 예측
# 3번. 2번의 예측값을 실제 데이터 y_test를 비교

In [12]:
# SVM
# 지도학습 알고리즘 중 하나 (분류 알고리즘)
# 데이터의 클래스를 나누는 최적의 결정 경계를 찾는 것

from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
# 1번. svm에 train데이터 입력
clf_svm = SVC(random_state=0)
clf_svm.fit(x_train, y_train)
# 2번. svm으로 test데이터 예측
pred_svm = clf_svm.predict(x_test)

print("\n--- SVM Classifier ---")
# 3번. 실제 데이터 y_test와 x_test 예측값을 비교
print(accuracy_score(y_test, pred_svm))
print(confusion_matrix(y_test, pred_svm))

--- SVM Classifier ---
0.9736842105263158
[[13  0  0]
 [ 0 15  1]
 [ 0  0  9]]

In [ ]:
# 성공 데이터(37) / 전체 데이터(38)

In [13]:
# LR
# 분류 알고리즘
# 이름은 회귀지만, 주로 이진분류 문제에 사용
from sklearn.linear_model import LogisticRegression
# 1번. LogisticRegression에 train 데이터 입력
clf_lr = LogisticRegression(random_state=0)
clf_lr.fit(x_train, y_train)
# 2번. x_test 예측
pred_lr = clf_lr.predict(x_test)
# 2번 값과 y_test 비교
print ("\n--- Logistic Regression Classifier ---")
print (accuracy_score(y_test, pred_lr))
print (confusion_matrix(y_test, pred_lr))

--- Logistic Regression Classifier ---
0.9736842105263158
[[13  0  0]
 [ 0 15  1]
 [ 0  0  9]]

C:\Users\seongmun\anaconda3\envs\test01\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
# 로지스틱 회귀 모델이 수렴에 실패했다는 메시지
# 수렴 : 모델의 파라미터를 일정한 값으로 수렴했다는 의미

In [14]:
# DT

from sklearn.tree import DecisionTreeClassifier
# 1번
clf_dt = DecisionTreeClassifier(random_state=0)
clf_dt.fit(x_train, y_train)
# 2번
pred_dt = clf_dt.predict(x_test)
# 3번
print ("\n--- Decision Tree Classifier ---")
print (accuracy_score(y_test, pred_dt))
print (confusion_matrix(y_test, pred_dt))

--- Decision Tree Classifier ---
0.9736842105263158
[[13  0  0]
 [ 0 15  1]
 [ 0  0  9]]

In [15]:
# RT

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd

print ("\n--- Random Forest ---")
# 1번
rf_clf = RandomForestClassifier(random_state=0)
rf_clf.fit(x_train, y_train)
# 2번
pred = rf_clf.predict(x_test)
# 3번
print(accuracy_score(y_test,pred))
print (confusion_matrix(y_test, pred))

--- Random Forest ---
0.9736842105263158
[[13  0  0]
 [ 0 15  1]
 [ 0  0  9]]